<%= form_with(model: parient, local: true) do |form| %>
  <% if parient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parient.errors.count, "error") %> prohibited this parient from being saved:</h2>

      <ul>
      <% parient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
