<p id="notice"><%= notice %></p>

<h1>Parients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parients.each do |parient| %>
      <tr>
        <td><%= parient.name %></td>
        <td><%= link_to 'Show', parient %></td>
        <td><%= link_to 'Edit', edit_parient_path(parient) %></td>
        <td><%= link_to 'Destroy', parient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parient', new_parient_path %>
