<%= form_with(model: practice, local: true) do |form| %>
  <% if practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
      <% practice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :opens_at %>
    <%= form.datetime_select :opens_at %>
  </div>

  <div class="field">
    <%= form.label :closes_at %>
    <%= form.datetime_select :closes_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
